/* --- Home-page ---*/

body{
    background-color:slategray;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-top: 70px;
}

/* --- About-page ---*/

.container-fluid{
    max-width: 500px;
    margin: auto;
}

h1{
    color:whitesmoke;
    text-align: center;
    
}

p{
    font-size: larger;
    color:whitesmoke;
    text-align: center;
}


/* --- Navigation --- */

.navbar .navbar-brand {
  font-size: 2rem;
  letter-spacing: 1px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}.nav-link{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




/* ---Hero image--- */

.view.home {
    height: 100vh;
    background: no-repeat bottom right fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* Footer */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center; 
}


.social-links {
    padding-bottom: auto;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: slategray;
}

