/* --- Home-page ---*/

body{
    background-color:slategray;
    text-align: center;

}


body p{
    text-align: center;
    color:white;
}

/* The hero image */

.view.home {
    height: 100vh;
    background: no-repeat bottom right fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
}

